:root{
    --background: #001D3D;
    --primary: #FFC300;
    --secondary: #003566;
    --contrast: #FFFFFF;
}

body{

    box-sizing: border-box;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 100vh;
    width: 100vw;

    .element{
        background-color: var(--secondary);
        margin: 10px;
    }

    .side-bar{
        top: 0;
        position: sticky;

        display: flex;
        flex-direction: column;
        width: 25%;
        min-width: 160px;
        max-width: 250px;
        height: 98vh;

        .navi{
            height: 6%;
            background-color: var(--primary);
            text-align: center;
            align-content: center;
            a{
                color: var(--secondary);
                text-decoration: none;
            }
        }

        .types{
            height: 30%;
        }

        .configs{
            height: 55%;
        }

    }

    .main{
        width: 79%;
        display: flex;
        flex-direction: column;

        .search-container{
            top: 10px;
            position: sticky;

            padding: 10px;
            height: 6%;
            display: flex;
            flex-direction: row;
            align-items: center;

            input[type = "text"]{
                height: 20px;
                width: 75%;
                margin-left: 0;
            }

            input[type = "button"]{
                height: 25px;
                aspect-ratio: 1;
                margin-left: 5px;
                border: 0;
                background-color: var(--primary);

                background-image: url('images/search.svg');
                background-size: cover;
            }
        }

        #items{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;

            .item{
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 15%;

                .item-img{
                    background-image: url("images/placeholder.jpg");
                    background-size: cover;
                    width: 100%;
                    aspect-ratio: 1;
                    border: solid white 10px;
                }
                .item-description{
                    height: 80%;
                    width: 90%;
                    margin: 15px;
                    background-color: var(--primary);
                    padding: 15px;
                }
                .plus{
                    height: 10%;

                    color: var(--primary);
                    font-size: 60px;
                    font-weight: 700;
                    align-content: center;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    #items {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .item{
        flex: 80%;
    }
}